
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,60,139,1) 0%, rgba(220,2,179,1) 0%, rgba(204,60,226,1) 0%, rgba(216,237,127,1) 0%, rgba(213,227,29,1) 100%, rgba(82,181,170,1) 100%, rgba(5,162,183,1) 100%);
}

.responsive {
    max-width: 75%;
    height: auto;
}

img {
    padding: 15px;
}

.displayBox {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.scroll-box {
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}
.mystyle{
    margin-top: 377px;
}
.centered {
    color: white;
    font-size: 58px;
    margin-left: 251px;
  }
  .btn{
    width:100px;
    height:100px;
    background-color: beige;
    font-size: 19px;
  }